body {
  margin: 0 0 55px 0;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ececef;
  display: flex;
  overflow-x: auto;
}

.nav button {
  border: none;
  margin: 20px 0 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  text-decoration: none;
  color: #0f0f12;
}

.nav__link:visited {
  text-decoration: none;
}

.nav__items {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: blue;
  height: 100vh;
  width: 100%;
  list-style: none;
  clip-path: circle(100px at 0 -13%);
  -webkit-clip-path: circle(100px at 0 -13%);
  transition: all 1s ease-out;
  /* display: none; */
}

.nav__items__open {
  clip-path: circle(2000px at 0 -13%);
  -webkit-clip-path: circle(2000px at 0 -13%);
}

.nav__items li {
  margin-bottom: 4rem;
}

.nav__items li button {
  color: #0f0f12;
}

.nav__items li a {
  color: #0f0f12;
  text-decoration: none;
}

.line1,
.line2,
.line3 {
  height: 3px;
  background: #0f0f12;
  margin: 5px;
}

.line1 {
  width: 30px;
}

.line2 {
  width: 20px;
}

.line3 {
  width: 10px;
}

.container {
  position: relative;
}

.container ul li button,
.container ul li a {
  font-size: 25px;
  font-weight: bold;
  background: none;
  border: none;
  outline: none;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  left: 5%;
  top: 50%;
  transform: translate(-5%, 50%);
  z-index: 20;
}

button {
  outline: none;
}
