body {
  margin: 0 0 55px 0;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ececef;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  text-decoration: none;
  color: #0f0f12;
  transition: background-color 0.1s ease-in-out;
}

.nav__link:visited {
  text-decoration: none;
}

.menu__wrapper ul {
  /* visibility: hidden; */
}

.menu {
  /* visibility: hidden; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu > ul {
  width: 100vw;
  height: 100vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
}

.active {
  color: red;
}
